/******* Container *******/

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 16px;
  background-color: rosybrown;
}

.container-sans-wrap-align-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 64px;
  padding-bottom: 24px;
  gap: 16px;
  background-color: peachpuff;
  overflow: scroll;
  overflow-scrolling: touch;
}

.container-row {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  background-color: thistle;
}

.container-space-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
}

.container-flex-end-align-center {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  background-color: mediumaquamarine;
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0;
  width: 100%;
  background-color: gold;
}

.container-icon {
  display: flex;
  align-items: center;
  margin: 0 10px;
  background-color: darkorange;
}

.container-icon img {
  width: 20px;
  height: 20px;
}

/* styles/_scrollbar.scss */
.custom-scrollbar {
  overflow: auto;

  /* Styles pour les barres de défilement */
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}



/*

.container-benoist {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

@media screen and (min-width: 36em) {
  .container {
    max-width: 54rem;
  }
}

@media screen and (min-width: 48em) {
  .container {
    max-width: 72rem;
  }
}

@media screen and (min-width: 62em) {
  .container {
    max-width: 96rem;
  }
}

@media screen and (min-width: 75em) {
  .container {
    max-width: 115.8rem;
  }

}
*/