// _container.scss
@import '../utils/utilities.scss';

/******* Container *******/



.container {
  @extend .flex, .flex-row, .justify-start, .align-center, .flex-wrap, .gap-16;
}

.container-sans-wrap-align-top {
  @extend .flex, .flex-row, .justify-start, .align-start, .gap-16;
  padding-bottom: 24px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.container-row {
  @extend .flex, .flex-row;
}

.container-column {
  @extend .flex, .flex-column, .justify-center, .align-center, .gap-24;
}

.container-space-between-align-center {
  @extend .flex, .justify-between, .align-center;
}


.container-flex-end-align-center {
  @extend .flex, .justify-end, .align-center;
  padding: 8px;
}


.container-icon {
  @extend .flex, .align-center;
  margin: 0 8px;
}

.container-icon img {
  width: 20px;
  height: 20px;
}

/* styles/_scrollbar.scss */
.custom-scrollbar {
  overflow: auto;
  /* Styles pour les barres de défilement */
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}



/*

.container-benoist {
  width: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

@media screen and (min-width: 36em) {
  .container {
    max-width: 54rem;
  }
}

@media screen and (min-width: 48em) {
  .container {
    max-width: 72rem;
  }
}

@media screen and (min-width: 62em) {
  .container {
    max-width: 96rem;
  }
}

@media screen and (min-width: 75em) {
  .container {
    max-width: 115.8rem;
  }

}
*/