.form-container {
  border-radius: 8px;
  max-width: 400px;
  padding: 24px 36px;
  border: 1px solid var(--border-color-primary);
  margin: 70px auto;
  gap: 24px;
}

.form-body {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 24px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.container-upload {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.container-upload input[type="file"] {
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-input input {
  min-width: 300px;
  padding: 10px;
  border: 1px solid var(--border-color-primary);
  border-radius: 4px;
}

.error {
  color: red;
}