/******* Header Page *******/

.header {
  @extend .flex, .justify-between, .align-center;
  border-bottom: 1px solid #d3d3d3;
  margin: 24px 0 64px;
  padding: 10px 0;
  width: 100%;
  background-color: gold;
}

/******* Header Page *******/

.main-header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--bg);
}

.main-header .container {
  @extend .flex, .flex-wrap, .justify-between, .align-center;
  min-height: 8rem;
  padding-block: 1.2rem;
}

.logo img {
  width: 11.2rem;
}
